[Unit]
Discription=auto start script after power on

[Service]
Type=oneshot
ExecStart=/home/Documents/script.sh

[install]
WentedBy=multi-user.target
